{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="container-fluid">
    <div class="row justify-content-center" id="">
            <div class="login-form">
                <form class="" action=""  method="POST">
                    {% csrf_token %}
                    <h2 class="">Deletar Post</h2>
                    <p class="">Tem certeza que deseja deletar o post "{{noticia.titulo}}"?</p>
                    <div class="form-group">
                    </div>

                    <div class="form-group d-flex justify-content-between">
                        <a href="{% url 'vernoticia' noticia.id %}"
                           class="btn btn-outline-secondary  font-weight-bold t">Cancelar</a>
                        <input type="submit" class="btn btn-danger font-weight-bold" value="Sim, deletar">
                    </div>
                </form>
            </div>
    </div>
</div>



{% endblock %}