* {
    font-family: 'Fira Sans', sans-serif;
}


body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #129612;
}

#corpo-index {
    background-image: url(/static/images/fundo.png);
    margin: 0;
    padding: 0;


}

#home {
    box-shadow: 0 0 10px rgba(0, 0, 0, .07), 4px 4px 10px rgba(0, 0, 0, .3);
    border: 0px 1px 1px 1px solid rgba(72, 72, 72, 0.3);
    z-index: 0;
}

header {
    background: #129612;
    color: white;
}

.login-botao {
    transition: ease-in-out .3s;
    float: left;
}


.login-botao:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 1);
}

header img {
    margin-top: -5px;
}

header img {
    margin-top: -5px;
}


#login-fundo {
    background-image: url(/static/images/fundo.png);
    background-color: #107c10;
    margin: 0;
    padding: 0;
    z-index: -999;
}

.caixa {
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}


#conteudo {
    margin: 100px 0 0 0;
}

.login-form {
    width: 500px;
    font-size: 15px;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
}

.separador h1 {
    margin-top: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    text-anchor: middle;
    text-align: center;
}

/*Cards*/
#cards p, #cards h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#badge1{
    position: absolute;
    padding:5px 10px;
    left: 25px;
    margin-top: 10px;
}#badge2{
    position: absolute;
    padding:5px 10px;
    right: 25px;
    margin-top: 10px;
}
.card {
    margin-bottom: 1rem;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.cadastro {
    background-color: white;
    padding: 5px 30px 30px 30px;
}

.contato-form {
    width: 100%;
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.contato-form h2 {
    margin: 0 0 15px;
}

#nav-principal {
    z-index: 1;
}

/* ------------Vernoticia  INICIO*/
#corponoticia {
    box-shadow: 0 0 10px rgba(0, 0, 0, .07), 4px 4px 10px rgba(0, 0, 0, .3);
    border: 0px 1px 1px 1px solid rgba(72, 72, 72, 0.3);
    z-index: 0;
    width: 620px;
    word-wrap: break-word;
}
#corponoticia h1{
    padding-left: 0;
    padding-right: 0;
}
.teste
{

}
/* ------------Vernoticia  FIM*/
/* ------------NAVBAR VERTICAL INICIO*/

.navbar-nav-hor-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-hor-item {
    width: 100%;
}

.nav-hor-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: #e5e5e5;
    text-decoration: none;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-hor-link i {
    min-width: 2rem;
    margin: 0 0.2rem 0 1.5rem;
    font-size: 1.8rem;
}

.nav-hor-link:hover {
    text-decoration: none;
    color: rgba(85, 255, 83, 0.51);
}





/* Telas pequenas */

@media only screen and (max-width: 630px) {
    .navbar-hor {
        z-index: 1;
        bottom: 0;
        width: 100%;
        height: 4rem;
        position: fixed;
        background-color: #107c10;
    }
    #corponoticia {
        width: 500px;
    } #corponoticia img{
        width: 400px;
    }
    .navbar-nav-hor-ul {
        flex-direction: row;
    }

    .nav-hor-link {
        justify-content: center;
    }

}

/* Telas grandes */
@media only screen and (min-width: 630px) {
    .navbar-hor {
        position: fixed;
        z-index: 1;
        top: 0;
        width: 5rem;
        height: 100vh;
        background-color: #107c10;
        transition: width 100ms ease;
    }
    .navbar-hor:hover .link-text {
        display: block;
        text-decoration: none;
        color: floralwhite;
    }
    .navbar-hor:hover {
        width: 10rem;
    }

}
/* ----------NAVBAR VERTICAL FIM*/

/* ----------PERFIL INICIO*/
.perfil-card {
    width: 600px;
    border: none;
    border-radius: 10px;
    background-color: #fff
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.posts {
    font-size: 10px;
    color: #a1aab9
}

.number1 {
    font-weight: 500
}

.coments {
    font-size: 10px;
    color: #a1aab9
}

.number2 {
    font-weight: 500
}

.gostei {
    font-size: 10px;
    color: #a1aab9
}

.number3 {
    font-weight: 500
}